<form action="/btnBuscarEmpleado" method="post">
    <div class="mb-3">
        <label for="txtBuscar" class="form-label">BUSCAR</label>
        <input type="text" class="form-control" name="txtBuscar" id="txtBuscar" placeholder="Inserte aquí la informacion a consultar">
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >BUSCAR</button>
        <a href="/ListarEmpleados" class="btn btn-primary">LIMPIAR</a>
    </div>
</form>