<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Registrar Empleado
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Empleado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form action="/RegistrarEmpleado" method="post">
    <div class="mb-3">
        <label for="EmpleadoID" class="form-label">Cedula del empleado</label>
        <input type="text" class="form-control" name="cedula_e" id="cedula_e" required>
    </div>
    
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="nombre" required>
    </div>

    <div class="mb-3">
        <label for="Apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" name="Apellido" id="Apellido" required>
    </div>

    <div class="mb-3">
        <label for="NumDocumentoPersona" class="form-label">Número de Documento</label>
        <input type="text" class="form-control" name="NumDocumentoPersona" id="NumDocumentoPersona" required>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Registrar Empleado</button>
    </div>
</form>


    </div>
    
    </div>
  </div>
</div>
</div>
